/*FONTS*/

@font-face {
  font-family: 'Old Standard TT';
  font-style: normal;
  font-weight: 400;
  src: local('Old Standard TT Regular'), local('OldStandardTT-Regular'), url(https://fonts.gstatic.com/s/oldstandardtt/v8/n6RTCDcIPWSE8UNBa4k-DJDiI8zI8NGcbDOKyTTsY20.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Work Sans'), local('WorkSans-Regular'), url(https://fonts.gstatic.com/s/worksans/v2/ElUAY9q6T0Ayx4zWzW63VJBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/*STYLES*/

html, body {
  overflow-x: hidden;
}

body {
    font-family: 'Work Sans', sans-serif;
    position: relative;
}

.container {
    padding: 0;
}

/*Header start*/

.header-wrapper {
    background: url('../images/herobanner.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    
}    

.header {}

.header-wrapper h1 {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    color: #FFFEFF;
    font-family: 'Old Standard TT', serif; 
    font-size: 15rem;
}

.header-wrapper p {
    padding-top: 45px;
    margin: 0 auto;
    color: #7842FA;
    text-align: center;
    font-size: 5rem;
}

.menu ul {
    list-style-type: none;
    margin-bottom: 15px;
    padding: 0;
    text-align: center; 
}

.menu ul li {
    display: block;
    padding-bottom: 8px;
}

.menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: #FEFFFD;
    font-size: 2.5rem;
}

.menu ul li a:hover {
    color: #E1D1FE;
}

/*About start*/

.about-wrapper {
    background: #F2F2F2;
    margin: 0 auto;
    width: 100%;
}

.about-text {
    margin-bottom: 50px;
}

.about-text h2 {
    color: #7842FA;
    padding: 20px 0 25px 10px;
}

.about-text p {
    color: #3C3C3C;
    line-height: 25px;
    letter-spacing: 1px;
    padding: 0 10px;
}

.about-img {
    margin-top: 30px;
    display: none;
}

/*Gallery start*/

.gallery-wrapper {
    width: 100%;
    padding-bottom: 50px;
}

.gallery-wrapper h2 {
    color: #7842FA;
    padding: 20px 0 25px 10px;
}

.gallery-wrapper p {
    color: #3C3C3C;
    display: inline-block;
    padding: 0 10px;
    line-height: 25px;
    letter-spacing: 1px;
}

/*Open time start*/

.open-wrapper {
    background: url('../images/panel.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}



.open-wrapper {
    width: 100%;
    margin: 0 auto;
    color: #FFFEFF;
}

.open-text {
    padding: 10px 10px;
}

.open-text p {
    font-size: 3rem;
}

/*Services contact start*/
.services-contact-wrapper{
    background: linear-gradient(to bottom, #E1D1FE 0%, #7A3FF6 100%);
    width: 100%;
    margin: 0 auto;
}

.services {
    padding-top: 30px;
}

.services h2 {
    color: #7842FA;
    padding: 20px 0 25px 10px;
}

.services ul {
    list-style-type: none;
    display: block;
    padding-left: 10px;
}

.services ul li {
    text-transform: uppercase;
    color: #FEFFFD;
    padding-bottom: 33px;
    font-size: 17px;
    letter-spacing: 5px;
}

.services-text {
    padding-top: 30px;
}

.services-text p {
    color: #FEFFFD;
    line-height: 25px;
    letter-spacing: 1px;
    padding: 0 10px;
}

.services-text img {
    width: auto;
    padding: 10px;
    display: none;
}

.contact h2 {
    color: #7842FA;
    padding: 20px 0 25px 10px;
}

.contact-text {
    padding-top: 50px;
    padding-bottom: 50px;
}

.contact-text h2 {
    color: #FEFFFD;
    padding-left: 10px;
}

.contact-text p {
    color: #FEFFFD;
    line-height: 25px;
    
    letter-spacing: 1px;
    padding: 0 10px;
}

.contact-form {
    margin: 0 auto;
}

.contact-form ul {
    list-style-type: none;
    padding: 0;
}

.contact-form ul li {
    padding-bottom: 50px;
    text-align: center;
}

.contact-form ul li input {
    color: #FEFFFD;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #FEFFFD;
    padding-bottom: 12px;
    width: 75%;
}

#send-btn {
    background: #FEFFFD;
    text-transform: uppercase;
    color: #7842FA;
    padding: 2rem 8rem;
    border-radius: 30px;
    border: none;
    display: block;
    margin: 0 auto;
}

.social {
    background: #FEFFFD;
}

.social ul {
    list-style-type: none;
    text-align: center;
    padding: 5px;
    margin: 0;
}

.social ul li {
    display: inline-block;
    padding: 0 5px;
}

.social ul li img {
    width: 40px;
    padding: 5px 0 5px 0;
}

/*MEDIA QUERIES*/

/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
    
    /*Header start*/
    
    .header-wrapper h1 {
        font-size: 28rem;
    }

    .header-wrapper p {
        position: relative;
        top: 159px;
        line-height: 0;
    }
    
    .menu {
        margin-bottom: 40px;
    }

    .menu ul li {
        display: inline-block;
        padding-bottom: 8px;
        padding: 0 15px 10px;
    }
    
/*    Servives start*/
       
    .services-text {
        margin-top: 40px;
    }
    
    .services-text img {  
        display: inline-block;
        float: left;
        padding-right: 38px;
        padding-top: 8px;
    }
  
}

/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) {
    
    /*Header start*/
    
    .header-wrapper h1 {
        font-size: 38rem;
    }
    
    .header-wrapper p {        
        top: 215px;
        font-size: 7rem;       
    }
    
    /*About start*/
    
    .about-img {
        display: inline-block;
        margin-top: 115px;
    }
    
    .about-text p {
        padding-right: 48px;
    }
    
/*    Contact start*/
    
    .contact {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
    .contact-text {
        padding: 0;
    }
    
}

/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    
    /*Header start*/
    
    .header-wrapper h1 {
        font-size: 50rem;
    }
    
    .header-wrapper p {        
        top: 279px;
        font-size: 8.7rem;       
    }
    
    /*About start*/
    
    .about-img {
        display: inline-block;
        margin-top: 115px;
    }
    
    .about-text p {
        padding-right: 136px;
    }
        
}