body {
  font-family: 'Work Sans', sans-serif;
}

/*Header start*/
.social {
  position: absolute;
  left: -49px;
}

.social ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  top: 330px;
  float: left;
  margin-left: auto;
  margin-right: auto;
}

.social ul li {

}

.social ul li img {
  width: 40px;
  padding: 5px 0 5px 0;
}

.header-wrapper {
  background: url('../images/herobanner.jpg');
  background-repeat: no-repeat;
  margin: 50px auto;
  margin-bottom: 0;
  margin-top: 35px;
  max-width: 1400px;
  position: relative;
}

.header {

}

.header img {
  width: 850px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 105px;
}

.header h1 {
  z-index: 1;
  color: #7842FA;
  text-align: center;
  position: relative;
  bottom: 320px;
  font-size: 127px;
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
  bottom: 260px;
}

.header ul li {
  display: inline-block;
  padding: 0 28px 0 28px;
}

.header ul li a {
  display: block;
  text-decoration: none;
  color: #FEFFFD;
  font-size: 25px;
}

.header ul li a:hover {
  color: #E1D1FE;
}

/*About start*/
.about-wrapper {
  background: #F2F2F2;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
}

.about-row {
  padding-bottom: 80px;
}

.about-text h2 {
  color: #7842FA;
  font-size: 56px;
  padding-top: 30px;
  padding-bottom: 35px;
}

.about-text p {
  color: #3C3C3C;
  width: 377px;
  line-height: 25px;
  letter-spacing: 1px;
}

.about-img {
  margin-top: 160px;
}

.about-img img {
  width: 500px;
}

/*Gallery start*/
.gallery-text h2 {
  color: #7842FA;
  font-size: 56px;
  padding-top: 30px;
  padding-bottom: 35px;
  float: left;
}

.gallery-text p {
  color: #3C3C3C;
  width: 956px;
  display: inline-block;
  padding-top: 64px;
  padding-left: 40px;
  line-height: 25px;
  letter-spacing: 1px;
}

/*Open time start*/
.open-wrapper {
  background: url('../images/panel.jpg');
  background-repeat: no-repeat;
  max-width: 1500px;
  height: 377px;
  margin-right: auto;
  margin-left: auto;
}

.open-wrapper {
  color: #FFFEFF;
}

.open-wrapper {
}

.open-text {
  margin-top: 180px;
}

.open-text p {
  font-size: 45px;
}

/*Services contact start*/
.services-contact-wrapper{
  background: linear-gradient(to bottom, #E1D1FE 0%, #7A3FF6 100%);
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
}

.services {
  padding-top: 30px;
}

.services h2 {
  color: #7842FA;
  font-size: 56px;
  padding-top: 30px;
  padding-bottom: 35px;
}

.services ul {
  list-style-type: none;
  display: block;
  padding-left: 0;
}

.services ul li {
  text-transform: uppercase;
  color: #FEFFFD;
  padding-bottom: 33px;
  font-size: 17px;
  letter-spacing: 5px;
}

.services-text {
  padding-top: 180px;
}

.services-text p {
  color: #FEFFFD;
  line-height: 25px;
  width: 556px;
  letter-spacing: 1px;
}


.services-text img {
  float: left;
  padding-top: 8px;
  padding-right: 30px;
}

.contact {
}

.contact-row {
  padding-bottom: 160px;
}

.contact h2 {
  color: #7842FA;
  font-size: 56px;
  padding-top: 30px;
  padding-bottom: 35px;
}

.contact-text {
  padding-top: 152px;
}

.contact-text h3 {
  color: #FEFFFD;
  font-size: 28px;
}

.contact-text p {
  color: #FEFFFD;
  line-height: 25px;
  width: 556px;
  letter-spacing: 1px;
  padding-top: 10px;
}

.contact-form {

}

.contact-form ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 8px;
}

.contact-form ul li {
  padding-bottom: 50px;
}

.contact-form ul li input {
  color: #FEFFFD;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #FEFFFD;
  padding-bottom: 12px;
  width: 330px;
}

#send-btn {
  background: #FEFFFD;
  text-transform: uppercase;
  color: #7842FA;
  padding: 20px 150px;
  border-radius: 30px;
  border: none;
}

*:focus {
    outline: none;
}
